// app css

$color_success: #3adb76;
$color_wrong: #cc4b37;
$color_background: #666;


.correct, .correct label {
  color: $color_success;
}

.incorrect, .incorrect label {
  color: $color_wrong;
}

body{
  background-color: $color_background;
}

#quiz {
  position: relative;
}

.slide {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background-color: $color_background;
  transition: opacity .5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.none{
  display:none;
}
