// app css

$color_success: #3adb76;
$color_wrong: #cc4b37;
//$color_background: #666;
$color_background: #fefefe;

body{
  background-color: $color_background;
}

#quiz {
  position: relative;
}

.fullheight {
  max-height: 500px;
}

.slide {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background-color: $color_background;
  transition: opacity .5s;
  overflow: visible;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.fadeout{
  opacity: 0;
  max-height: 0;
  transition: all .5s;
}

#buttons{
  margin-top: 1rem;
  z-index: 99;
}
